<hr/>

<ul class="nav nav-pill nav-justified">
  <li class="nav-item">
    <a class="nav-link btn-warning" [routerLink]="['/home']">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link btn-primary" [routerLink]="['/contact']">contact</a>
  </li>
  <li class="nav-item">
    <a class="nav-link btn-secondary" [routerLink]="['/upload']">upload</a>
  </li>
    <li *ngIf="!auth.isuserloggedin()" class="nav-item">
    <a class="nav-link btn-info" [routerLink]="['/login']">LOGIN</a>
  </li>
    <li *ngIf="auth.isuserloggedin()" class="nav-item">
    <a class="nav-link btn-success" [routerLink]="['/product']">PRODUCTS</a>
  </li>
    <li *ngIf="auth.isuserloggedin()" class="nav-item">
    <a class="nav-link btn-danger" [routerLink]="['/logout']">LOGOUT</a>
  </li>
</ul>

<hr/>
